.header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.container {
    padding: 10px;
    height: 200px;
    color: red;
}

.grey-background {
    background-color: #918f8f;
}