/* You can add global styles to this file, and also import other style files */

.blue-background {
    background-color: #3f3ff8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
