<div class="header blue-background">
    <span>Home Page</span>
</div>
<button text="button"> Button</button>


<button mat-raised-button color="primary">Primary</button>

<mat-slider aria-label="unit(s)"></mat-slider>